* { margin: 0; padding: 0; box-sizing: border-box; }
:root {
    --primary-blue: #0a2947;
    --soft-blue: #5084a6;
    --cream: #f1efe7;
    --white: #ffffff;
}

html { scroll-behavior: smooth; 
    scroll-padding-top: 40px; }

body { font-family: 'Inter', sans-serif; 
    background-color: var(--primary-blue); 
    color: var(--white); 
    overflow-x: hidden; }


header {
    width: 100%;
     padding: 10px 8%;
     position: fixed; 
     top: 0;
     z-index: 1000;
     background: rgba(10, 40, 71, 0.76); 
     backdrop-filter: blur(15px);
     -webkit-backdrop-filter: blur(15px);
     border-bottom: 1px solid rgba(241, 239, 231, 0.1);
}

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; }

.logo img {
    height: 55px;
    width: auto; }

.nav-links { 
    display: flex;
    list-style: none; }

.nav-links li {
    margin-left: 35px; }

.nav-links a {
    text-decoration: none;
    color: var(--cream);
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: 0.8;
    transition: 0.3s;
}

.nav-links a:hover { color: var(--white); opacity: 1; }

.hero {
    height: 100vh;
    background: linear-gradient(rgba(10, 41, 71, 0.5), rgba(10, 41, 71, 0.5)), 
                url('img/FOTOPORTADA.jpeg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

.main-title {
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    line-height: 1.1;
    margin-bottom: 20px;
    color: var(--cream); }

.main-title span {
    font-weight: 400;
    font-style: italic;
    color: var(--white); }

.sub-text {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto 40px auto;
    color: var(--cream); }

.btn-elegant {
    padding: 15px 40px;
    border: 1px solid var(--cream);
    color: var(--cream);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    transition: 0.4s;
}

.btn-elegant:hover {
    background: var(--cream);
    color: var(--primary-blue);
    transform: translateY(-3px); }

.services-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    background: linear-gradient(rgba(10, 41, 71, 0.7), rgba(10, 41, 71, 0.8)), 
    url('img/fondoservicios.png') no-repeat center center/cover;
    background-attachment: fixed;
    text-align: center;
}

.container-services {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; }

.section-title {
     font-family: 'Playfair Display', serif;
     font-size: 3rem;
     margin-bottom: 20px;
     color: var(--cream); }

.cards-grid {
    display: flex;
    justify-content: center;
    gap: 50px; }

.card-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px; }

.scene {
    width: 100%;
    height: 420px;
    perspective: 1500px;
    cursor: pointer; } 

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d; }

.card.is-flipped {
    transform: rotateY(180deg); }

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5); }

.card-face img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.face-back {
    transform: rotateY(180deg); }

.button-container {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.5s;
    pointer-events: none; }

.button-container.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; }

.btn-card {
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid var(--soft-blue);
    background: transparent;
    color: var(--cream);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    transition: 0.3s;
}

.btn-card:hover {
    background-color: var(--soft-blue);
    color: var(--white); }


/*  NOSOTROS  */


.about-section {
    padding: 100px 8%;
    background-color: var(--white);
    color: var(--primary-blue); }

.about-main-container {
    max-width: 1100px;
    margin: 0 auto; }

.section-title-alt {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 80px;
    text-align: center; }

.about-block {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 120px; }

.about-block.reverse {
    flex-direction: row-reverse; }

.about-image-side img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 15px 15px 0 var(--soft-blue); }

.about-content-side { flex: 1; }

.block-number {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: var(--soft-blue);
    opacity: 0.2;
    display: block;
    margin-bottom: -15px; }

.about-content-side h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 20px; }

.about-content-side p {
    font-size: 1rem;
    line-height: 1.7;
    color: #444;
    margin-bottom: 15px; }

.intro-p {font-weight: 700; }

/*  POR QUÉ ELEGIRNOS */


.why-section {
    padding: 100px 8%;
    background-color: var(--white);
    color: var(--primary-blue); }

.why-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 60px;
    align-items: center; }

.why-title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 40px; }

.why-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 35px;
    position: relative; }

.why-number { 
    width: 40px;
    height: 40px;
    background-color: var(--soft-blue);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    flex-shrink: 0; }

.why-text h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 5px; }

.why-text p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555; }

.why-image img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1); }

/* FOOTER */


.main-footer {
    background-color: var(--primary-blue);
    padding: 60px 8%;
    color: var(--white);
    border-top: 1px solid rgba(241, 239, 231, 0.1); }

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.logo-wrapper img {
    height: 140px;
    width: auto;
    filter: brightness(1.1); }

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end; }

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.3s;
    text-decoration: none;
    color: inherit; 
}

.info-item img {
    width: 22px;
    height: 22px;
    filter: invert(1); }

.info-item:hover {
    transform: translateX(-5px);
    color: var(--soft-blue);
    cursor: pointer; }

@media (max-width: 900px) {
    .about-block,
    .about-block.reverse {
        flex-direction: column;
        gap: 50px; }
    .why-container {
        grid-template-columns: 1fr; }
    .footer-container {
        flex-direction: column;
        gap: 40px;
        text-align: center; }
    .footer-info {
        align-items: center; }
}

/*Página Servicio*/


.page-header-spacer { 
    height: 100px;
    background-color: var(--primary-blue); 
}

.detail-section {
    padding: 80px 8%;
    background: linear-gradient(rgba(10, 41, 71, 0.7), rgba(10, 41, 71, 0.8)), 
    url('img/fondoservicios.png') no-repeat center center/cover;
    background-attachment: fixed;
    min-height: 80vh;
}

.detail-container {
    max-width: 1200px;
    margin: 0 auto;
    background: var(--white);
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.detail-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #003366;
    border-bottom: 2px solid #0055a5;
    display: block;
    padding-bottom: 10px;
}

.detail-main-flex {
    display: flex;
    gap: 40px;
    align-items: flex-start; 
    margin-top: 20px;
}

.detail-text {
    flex: 1;
}

.detail-image {
    flex: 0.8;
}

.img-side {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.detail-content p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #444;
}

.detail-content h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #003366;
    font-family: 'Playfair Display', serif;
}

.detail-content ul {
    margin-left: 20px;
    margin-bottom: 30px;
}

.detail-content li {
    margin-bottom: 10px;
    font-size: 1.05rem;
    color: #444;
}

.btn-back {
    margin-top: 40px;
    display: inline-block;
    background-color: #003366;
    color: #ffffff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-back:hover {
    background-color: #0055a5;
    transform: translateX(-5px);
}

.intro-text {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 30px;
    color: #444;
    width: 100%;
    display: block;
}

@media (max-width: 850px) {
    .detail-main-flex {
        flex-direction: column;
    }
    .detail-container {
        padding: 30px;
    }
    .detail-image {
        order: -1;
        width: 100%;
    }
}